.header {
  position: fixed;       
  top: 0;               
  left: 0;              
  right: 0;             
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo h1 {
  font-size: 1.5rem;
  color: #ee9211;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  font-size: 1rem;
  color: #333;
}

.sign-in-btn,
.sign-up-btn {
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.sign-in-btn {
  background-color: #efcea1; 
  margin-right: 1rem; 
}

.sign-up-btn {
  background-color: #efcea1; 
}

.popup {
  display: flex; 
  justify-content: center;
  align-items: center;
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.4); 
}

.popup-content {
  background-color: #efcea1;
  padding: 40px; 
  border: 2px solid #ee9211;
  width: 500px; 
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.popup-content label {
  margin-bottom: 0.5rem; 
  text-align: left; 
}

.popup-content input {
  margin-bottom: 1.5rem; 
  width: 100%; 
  padding: 0.5rem; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
}

.close {
  color: black;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute; 
  top: 10px; 
  right: 10px; 
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

button[type="submit"] {
  margin-top: 1rem; 
  padding: 0.5rem 1.5rem; 
  border-radius: 20px; 
  background-color: #ee9211; 
  color: black; 
  border: none; 
  cursor: pointer; 
}

button[type="submit"]:hover {
  background-color: #dd8f00; 
}

.create-account-link {
  color: #ee9211;
  text-decoration: none;
  font-weight: bold;
}
.sign-in-link {
  color: #ee9211;
  text-decoration: none;
  font-weight: bold;
}
.forgot-password-link {
  color: #ee9211;
  text-decoration: none;
  font-weight: bold;
}

