/* .home-page {
    display: flex;
    flex-direction: column; 
    height: 100vh;
  }
  
  .main-container {
    display: flex; 
    flex: 1; 
  }
  
  .sidebar {
    width: 200px; 
    background-color: white; 
  }
  
  .main-content {
    flex: 1; 
    padding: 20px; 
  } */

  /* General Layout */.home-page {
    display: flex;
    flex-direction: column; 
    height: 100vh;
  }
  
  .main-container {
    display: flex; 
    flex: 1; 
  }
  
  .sidebar {
    width: 200px; 
    background-color: white; 
  }
  
  .main-content {
    flex: 1; 
    padding: 20px; 
  }
  
  
  .categories {
    margin-bottom: 30px;
  }
  
  .categories h2 {
    margin-bottom: 15px;
  }
  
  .category-icons {
    display: flex;
    gap: 20px;
    overflow-x: auto; 
    padding: 10px 0;
  }
  
  .category-icons::-webkit-scrollbar {
    height: 8px;
  }
  
  .category-icons::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
  
  .category-icons::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .category-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px; 
    text-align: center;
  }
  
  .category-icon p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
  }
  
  
  .promotions h2 {
    margin-bottom: 10px;
  }
  /* Add styles for new sections (optional) */
  .restaurant-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  .restaurant-card {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .restaurant-card img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .restaurant-card p {
    margin-top: 10px;
  }