.home-page {
    display: flex;
    flex-direction: column; 
    height: 100vh;
  }
  
  .main-container {
    display: flex; 
    flex: 1; 
  }
  
  .sidebar {
    width: 200px; 
    background-color: white; 
  }
  
  .main-content {
    flex: 1; 
    padding: 20px; 
  }