.menu-page {
  padding: 20px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.add-food-icon {
  font-size: 24px;
  cursor: pointer;
  color: #ee9211;
  margin-left: 20px;
}

.food-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.food-image {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 15px;
}

.food-info h3 {
  margin: 0;
  font-size: 20px;
}

.food-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 5px;
  border-radius: 10px;
  width: 650px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.popup-content h3 {
  margin-top: 0;
  font-size: 22px;
}

.popup-content form {
  display: flex;
  flex-direction: column;
}

.popup-content input,
.popup-content textarea,
.popup-content select {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup-content input[type="file"] {
  padding: 0;
}

.popup-content .popup-buttons {
  display: flex;
  justify-content: space-between;
}
.availability-container {
  display: flex;
  align-items: center;
}

.availability-container label {
  margin-right: 10px; 
  font-size: 16px;
}

.availability-container input[type="checkbox"] {
  transform: scale(1.2); 
}


.add-food-button {
  background-color: #e29326; 
  color: white;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  margin: 10px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100px; 
}


.cancel-button {
  background-color: #e29326; 
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 10px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100px; 
}

.add-food-button:hover {
  background-color: #eac187; 
}

.cancel-button:hover {
  background-color: #eac187; 
}


.add-food-button:hover,
.cancel-button:hover {
  opacity: 0.9;

}

.food-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px; /* Space between cards */
}

.food-card {
  display: flex;
  flex-direction: column; /* Ensures content stacks vertically */
  align-items: center; /* Center content horizontally */
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
